*{margin: 0;padding: 0; box-sizing: border-box;}

:root{
    --ff-heading:'Staatliches', cursive;
    --ff-text:'Palanquin', sans-serif;

    --bc-body:hsl(233, 100%, 97%);
    --bc-heading:hsl(218, 17%, 62%);

    --fs-heading:4rem;
    --fs-text:2rem;

    font-size:62.5%;
}

/* .page{
    max-width: 38.4rem;
    margin: 0 auto;
} */

body{
    background-color: var(--bc-body);
}

body::before{
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 27.9rem;
    background-color: var(--bc-heading);

    z-index: -1;

    animation: uptodown .6s backwards;
}

header{
    animation: uptodown .6s backwards;
    text-align: center;

    font-family: var(--ff-heading);

    grid-area: header;
}

.logo{
   margin: 3.2rem 0;
}

header h1{
    background-color: hsl(275, 18%, 79%);

    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 0.7rem 0;

    margin-bottom: 2.9rem;

}

header p {
    font-family: var(--ff-text);

    max-width: 30.5rem;

    margin: 1.4rem auto 6.3rem;
    
}

main{
    max-width: 32rem;

    margin: 0 auto;

    display: grid;
    gap: 3.2rem;

    grid-area: main;
}

@media(min-width:868px){
    .page{
        max-width: 128rem;
        max-height: 72rem;
        display: grid;
        grid-template-areas: "header main";

    }

    body::before{
        height: 100vh;
        max-width: 37.7rem;
    }

    header{
        max-width: 37.7rem;
        text-align: center;
    }

    main{
        grid-template-areas:"A C B" 
        "E D F";
        margin-top: 6.4rem;
    }

    .card img{
        width: 22rem;

        object-fit: cover;
    }

    h1{
        width: 37.7rem;
    }

    h2{
        display: none;
    }

    main div:nth-child(1){
        animation: lefttoright .6s .3s backwards;
        grid-area: A;
    }
    
    main div:nth-child(2){
        grid-area: B;
    }
    
    main div:nth-child(3){
        animation: lefttoright .6s .5s backwards;
        grid-area: C;
        
    }
    
    main div:nth-child(4){
        animation: lefttoright .6s .7s backwards;
        grid-area: D;
        
    }
    
    main div:nth-child(5){
        animation: lefttoright .6s .9s backwards;
        grid-area: E;
        
    }
    
    main div:nth-child(6){
        grid-area: F;
    }

    

}

@media (max-width:868px){
 
    main div:nth-child(2), main div:nth-child(6){
        display: none;
    }

    footer{
        display: none;
    }
    
}

.card{
    position: relative;
    
    font-family: var(--ff-heading);

    transition:all .3s;
}

.card:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.card h2{
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    background-color: hsl(312, 91%, 96%);
    padding: .1rem 2.3rem;

    color: hsl(232, 17%, 35%);
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    font-size: var(--fs-text);

    border-radius: 2rem;
}

main div:nth-child(1){
    animation: lefttoright .6s .3s backwards;
}

main div:nth-child(3){
    animation: lefttoright .6s .5s backwards;
}

main div:nth-child(4){
    animation: lefttoright .6s .7s backwards;
}

main div:nth-child(5){
    animation: lefttoright .6s .9s backwards;
}




@keyframes uptodown {
    0%{
        opacity: 0;
        transform: translateY(-3.2rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes lefttoright{
    0%{
        opacity: 0;
        transform: translateX(-3.2rem)
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}